/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* Asterisk wildcard selector to overide default styles added by the browser */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 80vh;
    font-family: "Playfair Display", serif;
}
/* header */
header {
    background-color: wheat;
   height: 100px;
 }

 .topnav-right {
    float: right;
  }

/* main */
#meditation-img {
    height: 600px;
    width: 100%;
    background: url("../images/meditaion.png") no-repeat center center/cover;
}

/* nav-list */

 #nav-list {
    font-size: 100%;
    letter-spacing: 2px;
    width: 100%;
    right: 0;
 }

/* paragraph for cover-text */
p {
      font-family: "Playfair Display", serif;
      text-transform: uppercase;
      letter-spacing: 3px;
      font-style: normal;
      color: #ffff;
    }

    h1 {
     font-family: "Playfair Display", serif;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-style: normal;
      color: grey;
    }


    /* cover-text id */
#cover-text {
    color: #fff;
    opacity: .5;
    font-size: 180%;
    position: absolute;
    width: 20%;
    top: 200px;
    right: 200px;
}

.mind-container {
  width: 25%;
  height: 50vh;
  background-color: wheat;
}
  
  main {
    /* Make main element take up any excess space to push footer down*/
    flex: 1 0 auto;
    margin-top: 47px;
}


/* footer */
footer {
    background-color: green;
}

