/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* Asterisk wildcard selector to overide default styles added by the browser */

* {
  padding: 2px;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* href elements */
#home {
  text-align: center;
  text-decoration: none;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

#In-depth {
text-align: center;
text-decoration: none;
margin: 0;
padding: 0;
justify-content: space-between;
}

#signup {
  text-align: center;
  text-decoration: none;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

/* General styles */
body {
  min-height: 100vh;
  font-family: "Playfair Display", serif;
  background-color: rgb(241, 238, 232);
  display: wrap;
  color: black;
}


/* header */
header {
  background-color: rgb(241, 238, 232);
  display: flex;
  justify-content: space-between;
  list-style: none;
  display: wrap;
  text-decoration: none;
}

/* main */
#meditation-img {
  height: 500px;
  width: 100%;
  position: relative;
  background: url("../images/meditaion.png") no-repeat center center/cover;
}

/* navlist */

#navlist {
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  list-style: none;
  text-decoration: none;
}

/* paragraph for cover-text */
p {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  color: black;
}

h1 {
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-style: normal;
  color: brown;
}


/* cover-text id */
#cover-text {
  color: #fff;
  opacity: .5;
  font-size: 180%;
  position: absolute;
  width: 20%;
  top: 200px;
  right: 200px;
}

/* style three vertical column layout */
.box {
  display: flex;
}

/* row for columns */
.row {
  display: flex;
}

main {
  /* Make main element take up any excess space to push footer down*/
  flex: 1 0 auto;
  position: relative;
}

/* yoga-img */
#monks {
  height: 500px;
  width: 100%;
  position: relative;
  background: url("../images/monks-meditating.jpg") no-repeat center center/cover;
}

/* style for two column layout*/
.vertical {
  display: flex;
}

/* style for two column layout*/
.column {
flex: 50%;
list-style: none;
}

h2 {
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-style: normal;
  color: brown;
}

/* style for video */
#video {
 display: flex;
 justify-content: center;
 align-items: center;
}

/* footer */
.footer-ul {
  width: 100%;
  background-color: rgb(241, 238, 232);
  display: flex;
}


/* Responsive to device- when screen is less than 500px columns stack on top of each of each other */
@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}

/* Responsive to device- when screen is less than 500px column left and right stack on top of each of each other */
@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}